# Normalize line endings in the repository; check out native to each platform.
* text=auto

*.cs      text diff=csharp
*.csproj  text
*.sln     text eol=crlf
*.html    text
*.json    text
*.config  text
*.md      text
